<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Edit Profile</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="Main.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body class="body">
        <header>
            <div id="wrapper">
                <div class="mainlogo"> <a href="index.xhtml"><img src="img/Main-Logo.png" class="logo" /></a>
                    <h1 class="name">BURO</h1>
                </div>
                <div id="right">
                    <nav>
                        <ul>
                            <li><a href="#bantuan">BANTUAN</a> </li>
                            <li><a href="#tentang">TENTANG</a> </li>
                            <img src="img/033-shopping-cart.png" class="cart" /> <img src="img/016-manager.png" class="user" />
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <h:form id="form">
                <h2>EDIT PROFILE</h2>
                <img src="img/page_prev__id_id_15408945361.png" style="height: 200px"/>
                <p:growl id="msg"/>
                <p:panel style="border: none">
                    <h:panelGrid columns="2" style="border: 0" cellpadding="5">
                        Password <p:password value="#{loginBean.passCust}" required="true" requiredMessage="Password harus diisi!"/>
                        Alamat <p:inputText value="#{loginBean.alamat}" required="true" requiredMessage="Alamat harus diisi!"/>
                        Kota <p:inputText value="#{loginBean.kota}" required="true" requiredMessage="Kota harus diisi!"/>
                        Nomor Telepon <p:inputText value="#{loginBean.noTlp}" required="true" requiredMessage="Nomor Telepon harus diisi!" converterMessage="No. Telp harus angka!"><f:convertNumber integerOnly="true" type="number"/></p:inputText>
                        Email <p:inputText value="#{loginBean.email}" required="true" requiredMessage="Email harus diisi!"/>
                        <br/><p:commandButton value="Confirm" action="#{loginBean.updateCustomer()}" update="@form" style="width: 150px"></p:commandButton>

                        <h:outputText/><p:commandButton value="Logout" action="#{loginBean.logout()}" update="msg" immediate="true" style="width: 150px; background-color: #FF9718">
                            <p:confirm header="Confirmation" message="Are you sure?" icon="pi pi-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                        </p:confirmDialog>  
                    </h:panelGrid>
                </p:panel><br/>
            </h:form>
        </main>
        <footer>
            <p align="left" class="logo_credit">BURO</p>
            <p align="left" class="mini_credit">Credit 2019</p>
        </footer>
    </h:body>
</html>