<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="Main.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body class="body">
        <header>
            <div id="wrapper">
                <div class="mainlogo"> <a href="index.xhtml"><img src="img/Main-Logo.png" class="logo" /></a>
                    <h1 class="name">BURO</h1>
                </div>
                <div id="right">
                    <nav>
                        <ul>
                            <li><a href="#bantuan">BANTUAN</a> </li>
                            <li><a href="#tentang">TENTANG</a> </li>
                            <img src="img/033-shopping-cart.png" class="cart" /> <img src="img/016-manager.png" class="user" />
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <br/>
            <center><img src="img/Desain tanpa judul (10).png"/></center>
            <br/><br/>
            <h:form>
                <p:growl id="mes" showDetail="false" sticky="true" />
                <div class="main">
                    <div class="inner" align="middle">

                        <h:panelGrid columns="2">
                            <b>Username</b> <p:inputText value="#{loginBean.userLog}" 
                                                         required="true" 
                                                         requiredMessage="Username harus di Isi"></p:inputText><br/>
                            <b>Password</b> <p:password value="#{loginBean.passLog}"
                                                        required="true" 
                                                        requiredMessage="Password harus di Isi"></p:password><br/>
                            <h:commandButton value="Login" action="#{loginBean.loginCust()}" />
                            <h:outputText/><a href="CustReg.xhtml">Register?</a>
                        </h:panelGrid>

                    </div>
                </div>
            </h:form>
        </main>
        <footer>
            <p align="left" class="logo_credit">BURO</p>
            <p align="left" class="mini_credit">Credit 2019</p>
        </footer>
    </h:body>
</html>