<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Register</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="Main.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <header>
            <div id="wrapper">
                <div class="mainlogo"> <a href="index.xhtml"><img src="img/Main-Logo.png" class="logo" /></a>
                    <h1 class="name">BURO</h1>
                </div>
                <div id="right">
                    <nav>
                        <ul>
                            <li><a href="#bantuan">BANTUAN</a> </li>
                            <li><a href="#tentang">TENTANG</a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <center>
                <h:form id="form">
                    <h2>REGISTER</h2>
                    <img src="img/page_prev__id_id_15408945361.png" style="height: 200px"/>
                    <p:growl id="msg"/>
                    <p:panel style="border: none">
                        <h:panelGrid columns="2" style="border: 0" cellpadding="5">
                            Username <p:inputText value="#{customerBean.username}" required="true" requiredMessage="Username harus diisi!"/>
                            Password <p:password value="#{customerBean.password}" required="true" requiredMessage="Password harus diisi!"/>
                            Nama Depan <p:inputText value="#{customerBean.namaDepan}" required="true" requiredMessage="Nama Depan harus diisi!"/>
                            Nama Belakang <p:inputText value="#{customerBean.namaBelakang}" required="true" requiredMessage="Nama Belakang harus diisi!"/>
                            Alamat <p:inputText value="#{customerBean.alamat}" required="true" requiredMessage="Alamat harus diisi!"/>
                            Kota <p:inputText value="#{customerBean.kota}" required="true" requiredMessage="Kota harus diisi!"/>
                            Nomor Telepon <p:inputText value="#{customerBean.noTlp}" required="true" requiredMessage="Nomor Telepon harus diisi!" converterMessage="No. Telp harus angka!"><f:convertNumber integerOnly="true" type="number"/></p:inputText>
                            Email <p:inputText value="#{customerBean.email}" required="true" requiredMessage="Email harus diisi!"/>
                            <br/><p:commandButton value="Confirm" action="#{customerBean.addCustomer()}" update="@form"></p:commandButton>
                        </h:panelGrid>
                    </p:panel><br/>
                </h:form>
            </center>
        </main>
        <footer>
            <p align="left" class="logo_credit">BURO</p>
            <p align="left" class="mini_credit">Credit 2019</p>
        </footer>
    </h:body>
</html>