<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Cart</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="Main.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body class="body">
        <header>
            <div id="wrapper">
                <div class="mainlogo"> <a href="index.xhtml"><img src="img/Main-Logo.png" class="logo" /></a>
                    <h1 class="name">BURO - SHOPPING CART</h1>
                </div>
                <div id="right">
                    <nav>
                        <ul>
                            <li><a href="#bantuan">BANTUAN</a> </li>
                            <li><a href="#tentang">TENTANG</a> </li>
                            <a href="#{loginBean.cekCart()}"><img src="img/033-shopping-cart.png" class="cart" /> </a>
                            <a href="#{loginBean.cekLogin()}" ><img src="img/016-manager.png" class="user"/></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>

        </main>
        <footer>
            <p align="left" class="logo_credit">BURO</p>
            <p align="left" class="mini_credit">Credit 2019</p>
        </footer>
    </h:body>
</html>