<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Buro e-commerce</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="Main.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <header>
            <div id="wrapper">
                <div class="mainlogo"> <img src="img/Main-Logo.png" class="logo" />
                    <h1 class="name">BURO - WELCOME <h:outputText value="#{loginBean.namaDepan}"/></h1>
                </div>
                <div id="right">
                    <nav>
                        <ul>
                            <li><a href="#bantuan">BANTUAN</a> </li>
                            <li><a href="#tentang">TENTANG</a> </li>
                            <a href="#{loginBean.cekCart()}"><img src="img/033-shopping-cart.png" class="cart" /> </a>
                            <a href="#{loginBean.cekLogin()}" ><img src="img/016-manager.png" class="user"/></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section><img src="img/Desain tanpa judul (10).png" class="img_banner"/> 
                <a href="OfficeTable.xhtml"><img src="img/1.png" class="main_button_1" /></a>
                <a href="OfficeChair.xhtml"><img src="img/2.png" class="main_button_2" /></a> 
                <a href="OfficeCabinet.xhtml"><img src="img/3.png" class="main_button_3" /></a> 
            </section><br /><br />
            <img src="img/page_prev__id_id_15408945361.png" class="img_featured" />
            <h:form id="form"><p:growl id="message"/></h:form>
        </main>
        <footer>
            <p align="left" class="logo_credit">BURO</p>
            <p align="left" class="mini_credit">Credit 2019</p>
        </footer>
    </h:body>
</html>