@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #FF9718;
  padding: 10px;
  text-align: center;
  color: white;
}

#wrapper {
  display: flex;
}

#left {
  flex: 0 0 65%;
}

#right {
  flex: 1;
}

.mainlogo {
	display: flex; flex-flow: row;
	width: 50%;
}

.logo {
	width: 60px;
	height: 60px;
	margin-left: 7px;
	margin-top: 10px;
}

.name {
	margin-left: 15px;
}

.cart {
	width: 35px;
	margin-top: 5px;
	margin-right: 35px;
}

.user {
	width: 35px;
	margin-top: 5px;
}

/* Menu Navigation*/
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}

header nav ul {
	list-style: none;
	float: right;
	width: 400px;
}

nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 40px;
	margin-top: 13px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  height: 290px;
}

.menusection {
	height: 80px;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #FFFFFF;
  padding: 100px;
}

.main_button_1 {
	position: absolute;
	width: 250px;
	left: 25%;
}

.main_button_2 {
	position: absolute;
	width: 250px;
	left: 42%;
}

.main_button_3 {
	position: absolute;
	width: 250px;
	left: 59%;
}

.buttongroup {
	width: 50%;
  	margin: 0 auto;
}

.img_banner {
	position: relative;
	top: 75px;
	left: 23.5%;
	width: 800px;
	height: 200px;
}

.img_featured {
	position: relative;
	left: 200px;
	bottom: 20px;
	width: 500px;
}


/* Item On Sale */
.line1 {
	position: relative;
}

.line2 {
	position: relative;
}

.itemname1 {
	position: relative;
	width: 170px;
	right: 510px;
	bottom: 30px;
}

.itemname2 {
	position: relative;
	width: 170px;
	right: 252px;
	bottom: 104px;
}

.itemname3 {
	position: relative;
	width: 150px;
	bottom: 180px;
}

.itemname4 {
	position: relative;
	width: 150px;
	left: 252px;
	bottom: 255px;
}

.itemname5 {
	position: relative;
	width: 150px;
	left: 510px;
	bottom: 330px;
}
/* Style the footer */
footer {
  background-color: #FF9718;
  padding: 20px;
  text-align: center;
  color: white;
}

.left_logo {
	color: #fff;
	position: absolute;
	left: 50px;
	top: 835px;
}

.logo_credit{
	font-size: 30px;
	margin-left: 30px;
	margin-bottom: 5px;
	width: 150px;
}

.mini_credit{
	position: relative;
	width: 100px;
	font-size: 10px;
	left: 37px;
	bottom: 12px;
	letter-spacing: 2px;
}

.text_featured {
	position: relative;
	width: 500px;
	left: 780px;
	bottom: 280px;
}
	
	/*responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.mainbutton{
	margin-top: 1px;
}

main {
	height: 650px;
}

.officetablemenu {
	height: 800px;
}.img_collection {
	height: 300px;
}
