<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>OfficeTable</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="Main.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <header>
            <div id="wrapper">
                <div class="mainlogo"> <a href="index.xhtml"><img src="img/Main-Logo.png" class="logo" /></a>
                    <h1 class="name">BURO - TABLE/></h1>
                </div>
                <div id="right">
                    <nav>
                        <ul>
                            <li><a href="#bantuan">BANTUAN</a> </li>
                            <li><a href="#tentang">TENTANG</a> </li>
                            <a href="#{loginBean.cekCart()}"><img src="img/033-shopping-cart.png" class="cart" /> </a>
                            <a href="#{loginBean.cekLogin()}" ><img src="img/016-manager.png" class="user"/></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="officetablemenu">
            <section class="menusection"> 
                <a href="OfficeTable.xhtml"><img src="img/1.png" class="main_button_1" /></a>
                <a href="OfficeChair.xhtml"><img src="img/2.png" class="main_button_2" /></a> 
                <a href="OfficeCabinet.xhtml"><img src="img/3.png" class="main_button_3" /></a> 
            </section>
            <br />
            <br />
            <div align="center" class="img_collection" >
                <div align="center" class="line1">
                    <img src="img/Office Table/0658805_PE710418_S3.jpg" /> 
                    <img src="img/Office Table/0636181_PE697702_S3.jpg" /> 
                    <img src="img/Office Table/0641846_PE700734_S3.jpg" /> 
                    <img src="img/Office Table/0645215_PE703323_S3.jpg" /> 
                    <img src="img/Office Table/0650506_PE706249_S3.jpg" />
                </div>
                <p><h2 class="itemname1">OFFICE TABLE 1</h2></p>
                <p><h2 class="itemname2">OFFICE TABLE 2</h2></p>
                <p><h2 class="itemname3">OFFICE TABLE 3</h2></p>
                <p><h2 class="itemname4">OFFICE TABLE 4</h2></p>
                <p><h2 class="itemname5">OFFICE TABLE 5</h2></p>
            </div>
        </main>
        <footer>
            <p align="left" class="logo_credit">BURO</p>
            <p align="left" class="mini_credit">Credit 2019</p>
        </footer>
    </h:body>
</html>
