<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Panel Admin</title>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="mes" showDetail="false" sticky="true" />

                <div class="main">
                    <div class="inner" align="middle">
                        <img src="img/logo.png" height="150" width="275" /><br/>
                        <h:panelGrid columns="2">
                            Username<p:inputText value="#{loginBean.username}" 
                                                 required="true" 
                                                 requiredMessage="Username harus di Isi"></p:inputText><br/>
                            Password<p:password value="#{loginBean.password}"
                                                required="true" 
                                                requiredMessage="Password harus di Isi"></p:password><br/>
                            <h:commandButton value="Login" action="#{loginBean.logins()}"/>
                        </h:panelGrid>
                    </div>
                </div>
        </h:form>
    </h:body>
</html>

