<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <div align="center"><img src="logo.png" height="100" width="200" /></div>
            <p:menubar>
                <p:submenu label="Customer">
                    <p:menuitem value="Data Customer" outcome="/admin/dataCustomer.xhtml"/>
                </p:submenu>
                <p:submenu label="Barang">
                    <p:menuitem value="Data Barang" outcome="/admin/dataBarang.xhtml"/>
                    <p:menuitem value="Kategori" outcome="/admin/dataKategori.xhtml"/>
                </p:submenu>
                <p:submenu label="Order">
                    <p:menuitem value="Data Order" outcome="/admin/dataOrder.xhtml"/>
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton value="Logout" action="/index.xhtml?faces-redirect=true"/>
                </f:facet>
            </p:menubar>
        </h:form>

        <h:form id="form">
            <p:growl id="msgs"/>
            <p:panel header="Tabel Data Order" style="background-color: orange;">
                <p:dataTable editable="true" var="item" value="#{beanOrderan.orderList}">
                    <p:column headerText="ID Order">
                        #{item.idOrder}
                    </p:column>
                    <p:column headerText="Tanggal Order">
                        <h:outputText value="#{item.tglOrder}">
                            <f:convertDateTime timeZone="false" pattern="dd/MM/YYYY"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Total">
                        Rp.<h:outputText value="#{item.total}">
                            <f:convertNumber type="number"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Nama Depan Customer">
                        #{item.idCustomer.namaDepan}
                    </p:column>
                    <p:column headerText="Nama Belakang Customer">
                        #{item.idCustomer.namaBelakang}
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form><br/>

        <h:form id="table">
            <p:panel header="Tabel Data Detail Order" style="background-color: orange;">
                <p:dataTable var="item" value="#{beanOrderan.detailOrderList}" >
                    <p:column headerText="ID Penjualan">
                        #{item.idOrder.idOrder}
                    </p:column>
                    <p:column headerText="ID Detail Penjualan">
                        #{item.idDetail}
                    </p:column>                   
                    <p:column headerText="Kategori">
                        #{item.idBarang.idKategori.nama}
                    </p:column>
                    <p:column headerText="Nama Barang">
                        #{item.idBarang.namaBarang}
                    </p:column>
                    <p:column headerText="Harga">
                        <h:outputText value="#{item.idBarang.harga}">
                            <f:convertNumber type="number"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Jumlah">
                        #{item.jumlah}
                    </p:column>
                    <p:column headerText="Sub Total">
                        <h:outputText value="#{item.harga}">
                            <f:convertNumber type="number"/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
</html>

