<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <div align="center"><img src="logo.png" height="100" width="200" /></div>
            <p:menubar>
                <p:submenu label="Customer">
                    <p:menuitem value="Data Customer" outcome="/admin/dataCustomer.xhtml"/>
                </p:submenu>
                <p:submenu label="Barang">
                    <p:menuitem value="Data Barang" outcome="/admin/dataBarang.xhtml"/>
                    <p:menuitem value="Kategori" outcome="/admin/dataKategori.xhtml"/>
                </p:submenu>
                <p:submenu label="Order">
                    <p:menuitem value="Data Order" outcome="/admin/dataOrder.xhtml"/>
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton value="Logout" action="/index.xhtml?faces-redirect=true"/>
                </f:facet>
            </p:menubar>
        </h:form>

        <h:form>
            <p:panel header="Tabel Data Customer" style="background-color: orange;">
                <p:dataTable value="#{customerBean.custList}" var="cust" styleClass="ui-datatable ui-datatable-header">
                    <p:column headerText="Username">
                        #{cust.username}</p:column>
                    <p:column headerText="Password">
                        #{cust.password}</p:column>
                    <p:column headerText="Nama Depan">
                        #{cust.namaDepan}</p:column>
                    <p:column headerText="Nama Belakang">
                        #{cust.namaBelakang}</p:column>
                    <p:column headerText="Alamat">
                        #{cust.alamat}</p:column>
                    <p:column headerText="No.Telephone">
                        #{cust.noTelp}</p:column>
                    <p:column headerText="Kota">
                        #{cust.kota}</p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </h:body>
</html>

