<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Welcome</title>
    </h:head>
    <h:body>
        <h:form>
            <div align="center"><h1 class="h2">Admin Buro</h1></div>
            <p:menubar>
                <p:submenu label="Customer">
                    <p:menuitem value="Data Customer" outcome="/admin/dataCustomer.xhtml"/>
                </p:submenu>
                <p:submenu label="Barang">
                    <p:menuitem value="Data Barang" outcome="/admin/dataBarang.xhtml"/>
                    <p:menuitem value="Kategori" outcome="/admin/dataKategori.xhtml"/>
                </p:submenu>
                <p:submenu label="Order">
                    <p:menuitem value="Data Order" outcome="/admin/dataOrder.xhtml"/>
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton value="Logout" action="/index.xhtml?faces-redirect=true"/>
                </f:facet>
            </p:menubar>
        </h:form>

        <div align="center"><img src="admin.png" height="500" width="600" /></div>

    </h:body>
</html>

